<h1>Edit FB {{obj.name}}</h1>  
<mat-tab-group [selectedIndex] = "selectedTab">
  <mat-tab label="FB">
      <mat-toolbar>
          <mat-toolbar-row>
            <button mat-button mat-raised-button color="accent" (click)="updateFb(obj)">Update</button>
          </mat-toolbar-row>
      </mat-toolbar>  
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Name" [(ngModel)]="obj.name" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="No. FB" [(ngModel)]="obj.nofb" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="SIUP" [(ngModel)]="obj.siup" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="NPWP" [(ngModel)]="obj.npwp" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="SPPKP" [(ngModel)]="obj.sppkp" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Address" [(ngModel)]="obj.address" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="City" [(ngModel)]="obj.city" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [matDatepicker]="activationdate" placeholder="Activation Date" [(ngModel)]="obj.activationdate" [ngModelOptions]="{standalone:true}">
      <mat-datepicker-toggle matSuffix [for]="activationdate"></mat-datepicker-toggle>
      <mat-datepicker #activationdate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [matDatepicker]="period1" placeholder="Period 1" [(ngModel)]="obj.period1" [ngModelOptions]="{standalone:true}">
      <mat-datepicker-toggle matSuffix [for]="period1"></mat-datepicker-toggle>
      <mat-datepicker #period1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput [matDatepicker]="period2" placeholder="Period 2" [(ngModel)]="obj.period2" [ngModelOptions]="{standalone:true}">
      <mat-datepicker-toggle matSuffix [for]="period2"></mat-datepicker-toggle>
      <mat-datepicker #period2></mat-datepicker>
    </mat-form-field>      
  </mat-tab>
  <mat-tab label="PIC">
    <mat-toolbar>
        <span></span>
        <span class="fill-empty-space"></span>
        <span>
            <mat-icon matTooltip="Back to Fbs" matTooltipPosition="above" svgIcon="navBack" (click)="backToFbs()"></mat-icon>
            <mat-icon matTooltip="Add PIC" matTooltipPosition="above" svgIcon="add" (click)="addPICDialog()"></mat-icon>
        </span>
    </mat-toolbar>
    <table class="full-width" mat-table [dataSource]="picsDS" >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let pic">{{ pic.name }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let pic">{{ pic.role }}</td>
      </ng-container>
      <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let pic">{{ pic.position }}</td>
      </ng-container>
      <ng-container matColumnDef="idnum">
          <th mat-header-cell *matHeaderCellDef>Idnum</th>
          <td mat-cell *matCellDef="let pic">{{ pic.idnum }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let pic">{{ pic.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="hp">
          <th mat-header-cell *matHeaderCellDef>HP</th>
          <td mat-cell *matCellDef="let pic">{{ pic.hp }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let pic">{{ pic.email }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let pic">
            <mat-select placeholder="Pilih">
              <mat-option (click)="editPicDialog(pic)">Edit</mat-option>
              <mat-option (click)="removePicDialog(pic)">Remove</mat-option>
            </mat-select>
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="picsColumn"></tr>
      <tr mat-row *matRowDef="let row;columns:picsColumn"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Services">
    <mat-toolbar>
        <span></span>
        <span class="fill-empty-space"></span>
        <span>
            <mat-icon matTooltip="Back to Fbs" matTooltipPosition="above" svgIcon="navBack" (click)="backToFbs()"></mat-icon>
            <mat-icon matTooltip="Add PIC" matTooltipPosition="above" svgIcon="add" (click)="addServiceDialog(obj)"></mat-icon>
        </span>
    </mat-toolbar>
    <table mat-table [dataSource]="serviceDS" class="full-width">
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td matc-cell *matCellDef="let obj">{{obj.category}}</td>
      </ng-container>
      <ng-container matColumnDef="upstr">
        <th mat-header-cell *matHeaderCellDef>Upload</th>
        <td matc-cell *matCellDef="let obj">{{obj.upstr}}</td>
      </ng-container>

      <ng-container matColumnDef="dnstr">
        <th mat-header-cell *matHeaderCellDef>Download</th>
        <td matc-cell *matCellDef="let obj">{{obj.dnstr}}</td>
      </ng-container>


      <ng-container matColumnDef="bandwidth">
        <th mat-header-cell *matHeaderCellDef>Bandwidth</th>
        <td matc-cell *matCellDef="let obj">{{obj.bandwidth}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td matc-cell *matCellDef="let obj">
          <mat-select name="" placeholder="Select">
            <mat-option (click)="editServiceDialog(obj)">Edit</mat-option>
            <mat-option (click)="removeServiceDialog(obj)">Remove</mat-option>
          </mat-select>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
      <tr mat-row *matRowDef="let rows;columns: serviceColumns"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Fees">
    <mat-toolbar>
        <span></span>
        <span class="fill-empty-space"></span>
        <span>
            <mat-icon matTooltip="Back to Fbs" matTooltipPosition="above" svgIcon="navBack" (click)="backToFbs()"></mat-icon>
            <mat-icon matTooltip="Add FB" matTooltipPosition="above" svgIcon="add" (click)="addFeeDialog(feeobj)"></mat-icon>
        </span>

    </mat-toolbar>
    <table mat-table [dataSource]="feeDS" class="full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td matc-cell *matCellDef="let fee">{{fee.name}}</td>
      </ng-container>
      <ng-container matColumnDef="dpp">
        <th mat-header-cell *matHeaderCellDef>Dpp</th>
        <td matc-cell *matCellDef="let fee">{{fee.dpp}}</td>
      </ng-container>
      <ng-container matColumnDef="ppn">
          <th mat-header-cell *matHeaderCellDef>PPn</th>
          <td matc-cell *matCellDef="let fee">{{fee.ppn}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td matc-cell *matCellDef="let fee">
          <mat-select name="" placeholder="Select">
            <mat-option (click)="editFeeDialog(fee)">Edit</mat-option>
            <mat-option (click)="removeFeeDialog(fee)">Remove</mat-option>
          </mat-select>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="feeColumns"></tr>
      <tr mat-row *matRowDef="let rows;columns: feeColumns"></tr>
    </table>
  </mat-tab>
</mat-tab-group>