<mat-form-field>
  <input type="text" matInput [(ngModel)]="searchdata" (keydown)="doSearch($event.key)" placeholder="Type Client Name">
</mat-form-field>
<button mat-button (click)="clientSearch(searchdata)">Search</button>
<table mat-table [dataSource]="objs" class='full-width'>
  <ng-container matColumnDef='id'>
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef='let obj'>{{ obj.id }}</td>
  </ng-container>
  <ng-container matColumnDef='name'>
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef='let obj'>{{ obj.name }}</td>
  </ng-container>
  <ng-container matColumnDef='alias'>
    <th mat-header-cell *matHeaderCellDef>Alias</th>
    <td mat-cell *matCellDef='let obj'>{{ obj.alias }}</td>
  </ng-container>
  <ng-container matColumnDef='address'>
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef='let obj'>{{ obj.address }}</td>
  </ng-container>
  <ng-container matColumnDef='fbcount'>
    <th mat-header-cell *matHeaderCellDef>Jml FB</th>
    <td mat-cell *matCellDef='let obj'>{{ obj.fbcount }}</td>
  </ng-container>
  <ng-container matColumnDef='actions'>
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef='let obj'>
      <mat-select placeholder="Select Action">
        <mat-option>Edit</mat-option>
        <mat-option routerLink='/fbs/{{obj.id}}/0/10'>List FBs</mat-option>
        <mat-option routerLink='/fbadd/{{obj.id}}'>Add FB</mat-option>
      </mat-select>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef='objColumns'></tr>
  <tr mat-row *matRowDef='let row;columns:objColumns'></tr>
</table>
<mat-paginator  [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page) = "changePage($event)" >
</mat-paginator>
<div *ngIf="pageEvent">
  {{pageEvent.pageIndex}}
</div>