<mat-toolbar>
    <span></span>
  <span class="fill-empty-space"></span>
  <span>
      <mat-icon matTooltip="Back to FB" matTooltipPosition="above" svgIcon="navBack"></mat-icon>
      <mat-icon matTooltip="Add Service" matTooltipPosition="above" svgIcon="add" (click)="addServiceDialog()"></mat-icon>
  </span>
</mat-toolbar>
<table mat-table [dataSource]="serviceDS">
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td matc-cell *matCellDef="let obj">{{obj.category}}</td>
  </ng-container>
  <ng-container matColumnDef="bandwidth">
    <th mat-header-cell *matHeaderCellDef>Bandwidth</th>
    <td matc-cell *matCellDef="let obj">{{obj.bandwidth}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td matc-cell *matCellDef="let obj">
      <mat-select name="" placeholder="Select">
        <mat-option routerLink="padiserviceedit">Edit</mat-option>
      </mat-select>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
  <tr mat-row *matRowDef="let rows;columns: serviceColumns"></tr>
</table>