<mat-toolbar>
  <span>
    <h4>Form Berlangganan</h4>
  </span>
  <span class="fill-empty-space"></span>
  <span>
    <mat-icon svgIcon="userprofile" [matMenuTriggerFor]="userprofile"></mat-icon>
  </span>
</mat-toolbar>

<mat-menu #userprofile="matMenu">
  <button mat-menu-item routerLink="/userprofile">Profile</button>
  <button mat-menu-item (click)='changePassword()'>Change Password</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<router-outlet></router-outlet>