<mat-toolbar>
  <span>
    <h1>{{obj.name}}</h1>
  </span>
  <span class="fill-empty-space"></span>
  <span>
      <mat-icon matTooltip="Back to Clients" matTooltipPosition="above" svgIcon="navBack" routerLink="/clients"></mat-icon>
      <mat-icon matTooltip="Add FB" matTooltipPosition="above" svgIcon="add" routerLink="/fbadd/{{obj.id}}"></mat-icon>
  </span>
</mat-toolbar>
<table mat-table [dataSource]='dataSource'>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="nofb">
    <th mat-header-cell *matHeaderCellDef>No. FB</th>
    <td mat-cell *matCellDef="let element">{{ element.nofb }}</td>
  </ng-container>
  <ng-container matColumnDef="siup">
    <th mat-header-cell *matHeaderCellDef>SIUP</th>
    <td mat-cell *matCellDef="let element">{{ element.siup }}</td>
  </ng-container>
  <ng-container matColumnDef="npwp">
    <th mat-header-cell *matHeaderCellDef>NPWP</th>
    <td mat-cell *matCellDef="let element">{{ element.npwp }}</td>
  </ng-container>
  <ng-container matColumnDef="sppkp">
    <th mat-header-cell *matHeaderCellDef>SPPKP</th>
    <td mat-cell *matCellDef="let element">{{ element.sppkp }}</td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>
  <ng-container matColumnDef="period1">
    <th mat-header-cell *matHeaderCellDef>Period 1</th>
    <td mat-cell *matCellDef="let element">{{ element.period1|padidateformat }}</td>
  </ng-container>
  <ng-container matColumnDef="period2">
    <th mat-header-cell *matHeaderCellDef>Period 2</th>
    <td mat-cell *matCellDef="let element">{{ element.period2|padidateformat }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <mat-select placeholder="Pilih">
        <mat-option routerLink="/fbedit/edit/{{element.nofb}}">Edit</mat-option>
        <mat-option routerLink="/fbedit/pics/{{element.nofb}}">PICs</mat-option>
        <mat-option routerLink="/fbedit/services/{{element.nofb}}">Services</mat-option>
        <mat-option routerLink="/fbedit/fees/{{element.nofb}}">Fees</mat-option>
        <mat-option>
          <mat-select placeholder="{{element.status|showHumanStatus}}">
            <mat-option value="0" (click)="changeStatus(element,'0')">Ignore</mat-option>
            <mat-option value="1" (click)="changeStatus(element,'1')">Valid</mat-option>
            <mat-option value="2" (click)="changeStatus(element,'2')">Expired</mat-option>
            <mat-option value="3" (click)="changeStatus(element,'3')">Canceled</mat-option>
          </mat-select>
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option (click)="confirmRemoveFb(element)">Hapus</mat-option>
      </mat-select>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
</table>
<mat-paginator 
[length]="fbcount"
[pageSize]="fbPageSize"
[pageSizeOptions]="fbPageSizeOptions"
(page)="reloadData($event)"
></mat-paginator>