<mat-form-field>
  <input type="password" matInput placeholder="Password" class="full-width" [(ngModel)]="user.newpassword">
</mat-form-field>
<mat-form-field>
  <input type="password" matInput placeholder="Password" class="full-width" [(ngModel)]="user.passwordconfirmation">
</mat-form-field>
<button mat-button (click)="savePassword()" *ngIf="user.newpassword===user.passwordconfirmation">Save</button>
<div *ngIf="user.newpassword!==user.passwordconfirmation">
  Both Passwords should be the same
</div>